/* ********  Universal Start  ******** */
@font-face {
    font-family: PetcoCircularTT-Regular;
    src: url(assets/fonts/PetcoCircularTT-Regular.woff2) format("woff2"),
      url(assets/fonts/PetcoCircularTT-Regular.woff) format("woff");
}
  
  @font-face {
    font-family: PetcoCircularTT-Bold;
    src: url(assets/fonts/PetcoCircularTT-Bold.woff2) format("woff2"),
      url(/assets/fonts/PetcoCircularTT-Bold.woff) format("woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PetcoCircularTT-Regular", arial !important;
}

.citrus_pethonesty_container{
    width: 80%;
    /* width: 1100px; */
    margin: 0 auto;
}

.citurs_caps_button{
    width: 211px;
    height: 56px;
    text-align: center;
    background-color: #001952;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "PetcoCircularTT-Bold";
    font-size: 16px;
    line-height: 22px;
    border-radius: 7px;
}

.citurs_borderless_button{
    font-family: "PetcoCircularTT-Bold";
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #001952;
    border: 0;
    background-color: Transparent;
    border-radius: 7px;
}

a{
    color: #001952;
    text-decoration: underline;
    font-family: "PetcoCircularTT-Bold";
    /* font-weight: bold; */
    font-size: 16px;
}

a .citurs_borderless_button{
    color: #001952;
}

img{
    width: 100%;
}



/* -----------  Universal End  ----------- */


/*------------------------- 
|*    Hero Banner Start   *|
--------------------------*/

/* Desktop Hero */
.citrus_hero_banner{
    max-width: 100%;
    background-image: url("assets/images/pethonesty_POV_Desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.citrus_desktop_banner{
    display: flex;
    flex-direction: row;
    height: 330px;
}

.citrus_hero_text_tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 144px;
}

.citrus_hero_logo img {
    width: 313px;
    /* height: 76.29px; */
    object-fit: contain;
}

.citrus_hero_text_tab hr{
    width: 312px;
    border: 1px solid#707070;
}

.citrus_hero_title{
    font-family: Petco Circular CAP;
    color: black;
    font-size: 30px;
    line-height: initial;
    margin: 20px 0;
}

.citrus_hero_info{
    font-family: Petco Circular CAP;
    color: black;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}

/* Mobile Hero Banner */
.citrus_mobile_banner{
    display: none;
}

/* ----  Hero Banner End  ---- */


/*------------------------------ 
|* Ingredients Items Tab Start *|
-------------------------------*/

.citrus_ingredeients_tab_contents p{
    text-align: center;
    margin: 60px 0;
    font-family: Petco Circular CAP;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
}

.citrus_ingredients_items{
    /* width: 1147px; */
    /* height: 374.15px; */
    /* height: 320px; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none; /*-moz-(Firefox)*/
    -ms-overflow-style: none;  /*-ms- (Internet Explorer +10)*/
    padding-bottom: 80px;
    overflow-y: hidden;
}

.citrus_ingredients_items::-webkit-scrollbar {
    display: none;
}

.citrus_ingredients_item{
    /* border: 1px solid salmon; */
    text-align: center;
    height: 273px;
}

.citrus_ingredient_card{
    width: 200px;
    display: flex;
    flex-direction: column;
}
.citrus_ingredient_card_image img{
    margin-top: 0%;
    /* width: 167px; */
    /* height: 167px; */
    /* margin: auto; */
    padding: 10px;
    object-fit: none;
}

.citrus_ingredient_card_title h3{
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: black;
    margin: 20px 0;
}

.citrus_ingredient_card_info p{
    color: black;
}

/* ----  Ingredients Items Tab End  ---- */


/*--------------------------- 
|* Daily Multivitamin Start *|
----------------------------*/


.citrus_daily_multivitamin_desktop{
    background-image: url("assets/images/pethonesty_multivitamin_Bg.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    /* height: 100%; */
}


.citrus_multivitamin_card{
    width: 463px;
    /* height: 194px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.citrus_multivitamin_card_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.citrus_multivitamin_card_logo{
    width: 180px;
    height: 18px;
    text-align: center;
    margin-top: 70px;
}

.citrus_multivitamin_title{
    font-family: Petco Circular CAP;
    font-size: 25px;
    font-weight: bold;
    line-height: 32px;
    margin: 20px 0;
}

.citrus_multivitamin_card_info{
    width: 463px;
    height: 50px;
    font-family: Petco Circular CAP;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}


/* Mobile */
.citrus_multivitamin_mobile{
    display: none;
}

/*------- Daily Multivitamin End --------- */

/*------------------------ 
|*  Range Options Start  *|
-------------------------*/

.citrus_petHonesty_ranges{
    width: 100%;
    /* padding: 0 10%; */
    height: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
}

.citrus_range_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
}

.citrus_range_card{
    width: 100%;
}

.citrus_ranges_content,.citus_range_card_img{
    text-align: center;
}

.citus_range_card_img img{
    padding: 5%;
}

.citrus_ranges_content p{
    font-family: Petco Circular CAP;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 20px;
}

.citrus_range_options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.citrus_range_card{
    width: 327px;
    /* height: 441px; */
    /* border: 1px solid salmon ;  */
}

.citus_range_card_img img{
    max-width: 100%;
    padding: 20px;
}

.citrus_range_card_body{
    text-align: center;
}

.citrus_range_option_title{
    font-family: Petco Circular CAP;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}

/* ------ Range Options End ------ */



/*------------------------------ 
|*  Health and Wellness Start  *|
-------------------------------*/

.citrus_health_and_wellness{
    margin-bottom: 80px;
    width: 100%;
}

.citrus_health_and_wellness_heading p{
    font-family: PetcoCircular;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 60px;
}

.citrus_health_and_wellness_lifestyle img{
    max-width: 100%;
}

.citrus_health_and_wellness_lifestyle img:first-of-type{
    display: block;
}

.citrus_health_and_wellness_lifestyle img:nth-child(2) {
    display: none;
}

.citrus_health_and_wellness_details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.citrus_health_and_wellness_terms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.citrus_health_and_wellness_content_title{
    font-family: Petco Circular CAP;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 0;
}

.citrus_health_and_wellness_content_info{
    font-family: Petco Circular CAP;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 60px;
    width: 401px;
}

#citrus_EasyToUse{
    width: 533px;
}
/* Health and Wellness End */


/*-----------------------
|* Taste your pet Start *|
------------------------*/

.citrus_taste_container{
    background-color: #ECECEF;
}

.citrus_taste_container_items{
    /* width: 80%;
    margin:  0 auto ; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:  5px;
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px; */
}

.citrus_taste_container_item{
    width: 100%;
}

.citrus_taste_container_contets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.citrus_taste_contents_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.citrus_taste_content_title h3{
    font-family: "PetcoCircularTT-Bold";
    font-size: 22px;
    line-height: 32px;
}

.citrus_taste_content_info p{
    font-family: "PetcoCircularTT-Regular";
    font-size: 16px;
    line-height: 22px;
}

#tasteOder1{
    order: 1;
}

#tasteOder2{
    order: 2;
}

.citrus_taste_content_image img{
    width: 100%;
}

.citrus_taste_content_image img:first-of-type{
    display: block;
}

.citrus_taste_content_image img:nth-child(2){
    display: none;
}

.citrus_taste_contents_video{
    width: 100%;
    padding: 0 20px;
}


.citrus_taste_contents_video iframe{
    width: 100%;
    margin-top: -60px;
    height: 260px;
} 



/*------------------------- 
|* Responsive Style Start *|
--------------------------*/

@media screen and (max-width:425px) {
    /* Desktop Hero Banner */
    .citrus_desktop_banner{
        display: none;
    }

    /* Mobile Hero Banner */
    .citrus_mobile_banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ECECEF;
        text-align: center;
    }
    .citrus_mobile_banner img:nth-child(2){
        /* max-width: 100%; */
        width: 100%;
    }
    .citrus_mobile_banner img:first-of-type{
        width: 191px;
        height: 46.56px;
        margin: 5px auto;
    }
    .citrus_hero_text{
        margin: 10px 0 12px;
    }
    .citrus_hero_title{
        font-size: 25px;
        line-height: 32px;
    }
    .citrus_hero_info{
        width: 263.31px;
        line-height: 18px;
        margin-bottom: 30px;
    }

    .citrus_petHonesty_ranges{
        margin-bottom: 40px;
    }

    /* Ingredients */

    .citrus_ingredeients_tab_contents p {
        margin: 30px 35px;
        font-size: 20px;
        line-height: 22px;
    }

    /* Daily Multivitamin */
    .citrus_daily_multivitamin_desktop{
        display: none; 
    }
    .citrus_multivitamin_mobile{
        display: block;
        background-image: url("assets/images/pethonesty_multivitamin_mobBg.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .citrus_multivitamin_card{
        width: 315px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -190px;
    }
    .citrus_multivitamin_title{
        width: 176px;
        font-size: 20px;
        line-height: 22px;
        margin: 20px 0;
    }
    .citrus_multivitamin_card_info{
        width: 315px;
        font-family: Petco Circular CAP;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 30px;
    }
    .citrusButton{
        font-family: Petco Circular CAP;
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
        color: #001952;
        border: 0;
        background-color: Transparent;
    }
    .citrus_multivitamin_card_logo{
        margin-top: -10px;
    }
    .citrus_multivitamin_title{
        font-size: 20px;
        line-height: 22px;
        margin: 20px 0 15px;
    }
    .citrus_multivitamin_card_info{
        width: 315px;
        height: 68px;
        margin-bottom: 25px;
    }

    /* Range Options */
    .citrus_pethonesty_container{
        width: 100%;
    }
    .citrus_range_row{
        justify-content: space-evenly;
    }
    .citrus_ranges_content p {
        font-size: 16px;
        line-height: 22px;
    }
    .citrus_range_card{
        width: 160px;
        height: 100%;
    }
    .citrus_range_option_title{
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 20px;
    }

    /* Health and Wellness */
    .citrus_health_and_wellness{
        /* overflow: hidden; */
        padding-bottom: 30px;
    }
    .citrus_health_and_wellness_heading p{
        /* width: 182px; */
        /* margin: auto; */
        padding: 0 11%;
        font-size: 20x;
        line-height: 22px;
        margin-bottom: 35px;
    }
    .citrus_health_and_wellness_terms{
        padding: 5%;
        padding-bottom: 40px;
    }
    .citrus_health_and_wellness_lifestyle img{
        max-width: 100%;
    }
    .citrus_health_and_wellness_content_title{
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 5px;
    }    
    .citrus_health_and_wellness_content_info{
        font-size: 16px;
        line-height: 18px;
        width: 243px;
        margin-bottom: 25px;
    }
    #citrus_EasyToUse_title{
        line-height: 20px;
    }    
    #citrus_EasyToUse{
        width: 260px;
    }
    

    /* Taste your pet Start */
    .citrus_taste_container{
        margin-top: 230px;
    }
    .citrus_taste_container_contets {
        padding: 0;
    }
    .citrus_taste_container_items{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        padding:  0px;
    }
    #tasteOder1{
        order: 2;
    }
    #tasteOder2{
        order: 1;
        margin-top: -230px;
    }
    .citrus_taste_contents_logo{
        margin: 20px;
    }
    .citrus_taste_content_title h3{
        font-size: 16px;
        line-height: 22px;
        width: 60%;
        margin: 0 auto;
    }
    .citrus_taste_content_image img:first-of-type{
        display: none;
    }
    .citrus_taste_content_image img:nth-child(2){
        display: block;
    }
    .citrus_taste_contents_video{
        padding: 0 ;
    }
    .citrus_taste_contents_video iframe {
        height: 238px;
        margin-top: -33px;
    }

    
}

@media screen and (min-width:426px) and (max-width:768px) {
    .citrus_desktop_banner{
        height: 100%;
    }
    .citurs_caps_button {
        width: 155px;
        height: 45px;
        margin-bottom: 10px;
    }
    .citrus_hero_text_tab{
        margin-left: 20px;
    }
    .citrus_hero_logo img{
        width: 50%;
    }
    .citrus_hero_text_tab hr{
        width: 156px;
        border: 1px solid#707070;
    }
    .citrus_hero_title {       
        font-size: 15px;
        line-height: 16px;
        margin: 10px 0;
    }
    .citrus_hero_info {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 15px;
    }

    /* Ingredients */
    .citrus_ingredients_tab{
        width: 80%;
        margin: 0 auto;
    }
    .citrus_ingredient_card {
        width: 240px;
    }
    .citrus_ingredeients_tab_contents p {
        font-size: 28px;
    }

    /* Range Options */
    .citrus_pethonesty_container{
        width: 100%;
    }
    .citrus_range_row{
        justify-content: space-evenly;
    }
    .citrus_ranges_content p {
        font-size: 22px;
        line-height: 32px;
    }
    .citrus_range_card{
        width: 200px;
        height: 100%;
    }
    .citrus_range_option_title{
        font-size: 16px;
        line-height: 13px;
        margin-bottom: 20px;
    }

    /* Health and Wellness */
    .citrus_health_and_wellness_details {
        flex-wrap: nowrap;
        margin: 0 30px;
    }
    .citrus_health_and_wellness_lifestyle img {
        width: 384px;
    }
    .citrus_health_and_wellness_terms_line img{
        /* height: 100%; */
    }
    .citrus_health_and_wellness_content_title {
        margin-bottom: 0;
    }
    .citrus_health_and_wellness_content_title {
        font-size: 20px;
        line-height: 23px;
    }
    .citrus_health_and_wellness_content_info {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 25px;
        width: 280px;
    }
    #citrus_EasyToUse {
        width: 270px;
    }
    #citrusPetParent{
        width: 260px;
    }

    /* Daily Multivitamin */
    .citrus_daily_multivitamin_desktop{
        height: 100%;
    }
    .citrus_multivitamin_card {
        width: 260px;
    }
    .citrus_multivitamin_card_logo {
        margin-top: 35px;
    }
    .citrus_multivitamin_card_body {
        width: 260px;
    }
    .citrus_multivitamin_title {
        font-size: 16px;
        line-height: 20px;
        margin: 3px 0;
    }
    .citrus_multivitamin_card_info{
        width: 260px;
        height: 50px;
        font-family: Petco Circular CAP;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 5px;
    }
    .citrusCapButton{
        display: none;
    }

    /* Range Options */

    /* Taste */
   .citrus_taste_content_title h3{
        font-size: 15px;
        line-height: 22px;
        margin: 5px 0;
    }

    .citrus_taste_contents_video iframe {
        margin-top: -60px;
        height: 192px;
    }

    .citrus_taste_contents_video iframe{
        margin-top: -45px;
    }

}

@media screen and (min-width:769px) and (max-width:1024px){
    .citrus_desktop_banner{
        height: 100%;
        background-size: contain;
    }
    .citrus_hero_text_tab{
        margin-left: 45px;
    }
    .citrus_hero_title {
        font-size: 24px;
        line-height: 25px;
        margin: 2px 0;
    }
    .citrus_hero_info {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .citurs_caps_button{
        margin-bottom: 10px;
    }

    /* Ingredients */
    .citrus_ingredients_tab{
        width: 90%;
        margin: 0 auto;
    }


    /* Ranges */
    .citrus_petHonesty_ranges {
        margin-top: 0;
    }
    .citrus_range_card {
        width: 250px;
        height: 100%;
    }
    

    /* Health and Wellness */
    .citrus_health_and_wellness_details {
        flex-wrap: nowrap;
        /* margin: 0 10px; */
    }

    .citrus_health_and_wellness_lifestyle img{
        width: 480px;
    }

    .citrus_health_and_wellness_terms_line img{
        height: 450px;
    }

    .citrus_health_and_wellness_contents{
        /* width: 480px; */
        width: 350px;
    }

    .citrus_health_and_wellness_content_title {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 5px;
    }

    .citrus_health_and_wellness_content_info {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 69px;
    }

    #citrus_EasyToUse {
        width: 340px;
    }

    #citrusPetParent {
        width: 345px;
    }

    /* Taste */
    .citrus_taste_content_title h3{
        font-size: 16px;
        line-height: 22px;
        margin: 5px 0;
    }
    .citrus_taste_contents_video iframe {
        margin-top: -60px;
        height: 205px;
    }
    .citrus_taste_contents_video iframe{
        margin-top: -55px;
    }
    
}

/* @media screen and (min-width:769px) and (max-width:1024px) {
    .citrus_pethonesty_container {
        width: 65%;
        margin: 0 auto;
    }
}
@media screen and (max-width:1025px) and (max-width:1440px) {
    .citrus_pethonesty_container {
        width: 65%;
        margin: 0 auto;
    }
} */

@media screen and (min-width:769px) and (max-width:1334px) {
    .citrus_daily_multivitamin_desktop{
        background-size: 100%;
        position: center;
    }
    .citrus_multivitamin_card {
        /* width: 350px; */
        width: 33.33%;
    }

    .citrus_multivitamin_card_logo {
        margin-top: -58px;
    }

    .citrus_multivitamin_card_body{
        width: 250px;
    }

    .citrus_multivitamin_card_info {
        width: 340px;
    }

    .citrus_multivitamin_title {
        font-size: 24px;
        line-height: 25px;
        margin: 10px 0;
    }  

}

@media screen and (min-width:1335px) {
    .citrus_daily_multivitamin_desktop{
        background-size: 100%;
        position: center;
    }
    .citrus_multivitamin_card_logo {
        margin-top: 20px;
    } 
    
}

@media screen and (min-width:1440px) and (max-width:2500px) {
    .citrus_hero_banner{
        /* background-position:initial ; */
        /* height: 450px; */
    }
    .citrus_hero_text_tab {
        padding-top: 0px;
    }
    .citrus_hero_title{
        font-size: 30px;
        line-height: initial;
    }

    .citrus_ingredients_items {
        width: 100%;
    }

    .citrus_daily_multivitamin_desktop{
        background-size: 100%;
        position: center;
    }
    .citrus_multivitamin_card_logo {
        margin-top: 70px;
    } 
    .citrus_range_row {
        flex-wrap: wrap;
    }
    .citrus_range_card {
        width: 450px;
        /* height: 441px; */
        /* border: 1px solid salmon; */
    }
    .citrus_range_card {
        /* width: 360px; */
        width: 240px;
        /* height: 300px; */
    }
    .citrus_range_row{
        flex-wrap: wrap;
    }
    
}

@media screen and (min-width:1441px) {
    .citrus_pethonesty_container {
        width: 60%;
    }
    .citrus_hero_banner{
        height: 450px;
    }
    .citrus_hero_text_tab {
        padding-top: 100px;
    }
    .citrus_hero_text_tab hr {
        width: 313px;
    }
    .citrus_hero_title {
        line-height: initial;
    }
    .citrus_multivitamin_card {
        width: 100%;
        margin-top: 15px;
    }
    .citrus_multivitamin_title {
        font-size: 32px;
    }
    .citrus_multivitamin_card_info {
        width: 586px;
        font-size: 16px;
        line-height: 27px;
    }
    
}




/* Universal 320 */
@media screen and (max-width:320px) {
    /* Daily Multivitamin */
    .citrus_multivitamin_mobile{
        background-size: content;
    }
    .citrus_multivitamin_card{
        margin-top: -190px;
    }

    /* Health and Wellness */
    .citrus_health_and_wellness_terms{
        max-width: 100%;
        overflow: hidden;
    }
    .citrus_health_and_wellness_terms_line{
        margin-left: -10px;
    }
    #citrus_EasyToUse {
        width: 236px;
    }
    .citrus_health_and_wellness_content_info {
        width: 239px;
    }

    .citrus_health_and_wellness_content_title{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
    }    
    .citrus_health_and_wellness_content_info{
        font-size: 16px;
        line-height: 18px;
        width: 243px;
        margin-bottom: 18px;
    }
    .citrus_health_and_wellness_terms {
        padding-bottom: 30px;
    }
    /* Taste */
    .citrus_taste_contents_video iframe {
        height: 181px;
        margin-top: -33px;
    }
}

/* Daily Multivitamin 375 */
@media screen and (min-width:321px) and (max-width:375px) {
    /* Daily Multivitamin */
    .citrus_multivitamin_mobile{
        background-size: cover;
    }
    .citrus_multivitamin_card{
        margin-top: -190px;
    } 

    /* Health and Wellness */
    .citrus_health_and_wellness_content_title{
        font-size: 20px;
    }    
    .citrus_health_and_wellness_content_info{
        margin-bottom: 22px;
    }
    .citrus_health_and_wellness_terms {
        padding-bottom: 30px;
    }
    /* Taste */
    .citrus_taste_contents_video iframe {
        height: 200px;
    }
    .citrus_taste_contents_video iframe {
        margin-top: -52px;
    }
}

@media screen and (min-width:376px) and (max-width:425px){
    .citrus_health_and_wellness_terms {
        padding: 5%;
        padding-bottom: 70px;
    }
    .citrus_taste_contents_video iframe {
        height: 238px;
        margin-top: -90px;
    }
}





































